@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Inter', monospace;
    --primary-black: hsl(223, 11%, 12%);
    --primary-white: hsl(222, 50%, 96%);
    --darkest-gray: hsl(226, 11%, 23%);
    color: var(--primary-black);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    height: 4rem;
    padding: 0.25rem 2.5rem;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-bottom: 1px solid #CDD3DF;
    background-color: #FFF;
    box-shadow: 0px 4.5px 10px 0px rgba(0, 0, 0, 0.05), 0px 1.899999976158142px 4px 0px rgba(0, 0, 0, 0.05), 0px 0.699999988079071px 1.399999976158142px 0px rgba(0, 0, 0, 0.07);
}

nav > h1 {
    flex: 1;
    color: var(--primary-black);
    font-size: 1.6875rem;
    font-family: Inter;
    font-weight: 300;
    line-height: 2rem;
}

nav > div {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

nav > div > a {
    color: var(--primary-black);
    font-size: 1.25rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
}

#home {
    display: flex;
    height: 62.5rem;
    padding: 0rem 2.5rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

#home > .left > img {
    width: 18%;
    min-width: 18%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: var(--primary-black);
}

#home > .left {
    display: flex;
    padding: 7.5rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    flex: 1 0 0;
    align-self: stretch;
}

#home > .left > .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

#home > .left > .text-container > h1 {
    color: var(--primary-black);
    font-size: 3rem;
    font-family: Inter;
    font-weight: 700;
    line-height: 4rem;
}

#home > .left > .text-container > h2 {
    color: var(--primary-black);
    font-size: 1.75rem;
    font-family: Inter;
    font-weight: 600;
    line-height: 2rem;
    width: 60%;
}

#home > .right {
    display: flex;
    padding: 10rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1 0 0;
    align-self: stretch;
}

#home > .right > h2 {
    color: var(--primary-black);
    text-align: center;
    font-size: 2.5rem;
    font-family: Inter;
    font-weight: 600;
    line-height: 3rem;
}

#home > .right > .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

#home > .right > .images > img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}

#about {
    justify-content: center;
}

#skills .skill-container, #projects .skill-container {
    display: flex;
    width: 50rem;
    min-height: 20rem;
    align-items: center;
    gap: 1.5rem;
}

#skills .skill-container:nth-child(even), #projects .skill-container:nth-child(even) {
    flex-flow: row-reverse;
}

#skills .skill-container > p, #projects .skill-container p {
    flex: 1;
    color: var(--text-title, #1A1C21);
    text-decoration: none;
    text-align: center;
    font-size: 1.75rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 2rem;
}

#projects .text-container {
    display: flex;
    flex-flow: column;
    align-items: end;
    gap: 2rem;
}

#projects .skill-container:nth-child(even) .text-container {
    align-items: start;
}

#projects .text-container > a {
    width: fit-content;
    text-align: end;
    padding: 1.25rem 0.75rem;
    justify-content: center;
    background-color: var(--darkest-gray);
    color: var(--primary-white);
    font-size: 1rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.3125rem;
    text-decoration: none;
    border-radius: 8px;

}

#skills .skill-container > img, #projects .skill-container > img {
    width: 15rem;
    height: 15rem;
    min-width: 15rem;
    flex-shrink: 0;
}

#projects .subtitle {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects .subtitle > p {
    width: 65%;
    color: var(--primary-black);
    text-align: center;
    font-size: 2.125rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 2.5rem;
}

#projects .subtitle > p:last-child {
    font-size: 1rem;
    font-family: Inter;
}

body > section:not(:nth-child(2)) {
    display: flex;
    min-height: 50rem;
    padding: 5rem 7.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

body > section:not(:nth-child(2)) > h1 {
    color: var(--primary-black);
    text-align: center;
    font-size: 3rem;
    font-family: Inter;
    font-weight: 700;
    line-height: 4rem;
}

body > section:not(:nth-child(2)) > p {
    width: 65%;
    color: var(--primary-black);
    text-align: center;
    font-size: 2.125rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 2.5rem;
}

.divider {
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
    align-self: stretch;
}

.divider > hr {
    flex: 1;
    height: 0.25rem;
    background-color: var(--primary-black);
}

.divider > i {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-black);
    border-radius: 100%;
}

footer {
    background-color: var(--darkest-gray);
    color: var(--primary-white);
    display: flex;
    height: 15rem;
    min-height: 15rem;
    padding: 0rem 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    box-shadow: 0px -4.5px 10px 0px rgba(0, 0, 0, 0.05), 0px -4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}

footer > p {
    color: var(--primary-white);
    font-size: 1rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.25rem;
}